<!DOCTYPE HTML>
{% load static %}
<html lang="ru">
    <head>
        <meta name="theme-color" class="theme-color" content="#fff">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
        <link rel="stylesheet" href="{% static 'css/burger.css' %}">
    </head>

    <body>
        <div id="app"></div>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="{% static 'frontend/main.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>
